<main>
  <app-learning-resources appLog />

  <hr />

  <app-auth />
  <!-- @if(isAdmin()){
    <p>Only Admin should see</p>
  }
  @else if (isUser()) {
    <p>User this side! </p>
  } -->
  <!-- <ng-template appAuth="admin">
    <p>Only Admin should see</p>
  </ng-template> -->
  <!-- OR -->
  <p *appAuth="'admin'" appLog class="protected-content admin">Only Admin should see</p>
  <p *appAuth="'user'" class="protected-content unauthenticated">Regular Users should see</p>
  <p *appAuth="'guest'" class="protected-content authenticated">Guest Admin should see</p>
</main>